$--size_m: 16px;
$--line_m: 24px;

$--size_l: 16px;
$--line_l: 32px;

$--bg-color_dark: #0e0e75;
$--primary-color_dark: #049604;
$--secondary-color_dark: #04ff04;

$--bg-color_light: #e8e8ea;
$--primary-color_light: #041c65;
$--secondary-color_light: #0449e0;
