@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import "./reset.scss";
@import "./themes/light.scss";
@import "./themes/dark.scss";
@import "./variables/global.scss";

.app {
	font-family: 'Poppins', sans-serif;
	font-size: $--size_m;
	line-height: $--line_m;
	min-height: 100vh;
}