
@import "./reset.scss";
@import "./themes/light.scss";
@import "./themes/dark.scss";
@import "./variables/global.scss";

.app {
      font: var(--font-m);
      min-height: 100vh;
      background: var(--bg-color);
      color: var(--primary-color);
	transition: 0.3s all;
	&-page {
		display: flex;
		&-wrapper {
			flex-grow: 1;
			padding: 20px;
		}
	}
}
